.avatar-token {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: none;
    border-radius: 50%;
    position: relative;
    color: white;

    /* default size and color */
    width: 30px;
    height: 30px;
    background-color: #eec300;
    border: 1px solid #be9c09;
    font-size: 11px;
}

.avatar-token.large-token {
    min-width: 36px; /* NOTE: min-width and min-height are specified to prevent tokens from getting 'squished' */
    min-height: 36px;
    width: 36px;
    height: 36px;
    font-size: 13px;
}

.avatar-token.medium-token {
    min-width: 30px;
    min-height: 30px;
    width: 30px;
    height: 30px;
}

.avatar-token.small-token {
    min-width: 24px;
    min-height: 24px;
    width: 24px;
    height: 24px;
}

.avatar-token.large-token > i {
    font-size: 20px;
}

.avatar-token.medium-token > i {
   font-size: 16px;
} 

.avatar-token.small-token > i {
    font-size: 15px;
}

.avatar-token.pointer {
    cursor: pointer;
}