/* BLOCKING & GENERAL STYLING */

.team-show-container {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 70px;
    bottom: 0;
    left: 244px;
    right: 0;
    background-color: white;
}

.team-show-center {
    /* background-color: blue; */
    margin: 0 auto;
    /* width: 918px; */
    width: 951px;
    height: 670px;
    box-sizing: border-box;
    padding: 50px 56px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
}

.team-show-left {
    /* background-color: red; */
    width: 212px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 36px;
}

.team-show-right {
    /* background-color: yellow; */
    /* width: 552px; */
    width: 600px;
}

.team-show-left-top {
    /* background-color: purple; */
    height: 102px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.team-show-left-bottom {
    /* background-color: black; */
    height: 418px;
}

.team-show-section-header {
    color: #151b26;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid#edf1f2;
    box-sizing: border-box;
    padding-bottom: 18px;
}



/* TOP LEFT SECTION (TEAM DESCRIPTION) */

.team-show-description {
    resize: none;
    width: 212px;
    height: 52px;
    color: #151b26;
    font-size: 13px;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    transition-duration: 300ms;
    transition-property: border-color;
}

.team-show-description::placeholder {
    /* color: #75797b; */
    color: #9ca6af;
    font-size: 13px;
}

.team-show-description:hover {
    border-color: #d5dce0;
}

.team-show-description:focus {
    border-color: #9ca6af;
    outline: none;
}




/* BOTTOM LEFT SECTION (TEAM DESCRIPTION) */

.team-show-members {
    margin-top: 10px;
    min-height: 152px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.team-show-member-index-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

/* .team-show-member-avatar.avatar {
    width: 36px;
    height: 36px;
    border-radius: 19px;
    font-size: 13px;
    margin-right: 17px;
    box-sizing: border-box;
} */

.team-show-member-text {
    margin-left: 17px;
}

.team-show-member-full-name {
    width: 159px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    line-height: 16px;
}

.team-show-member-primary-email {
    width: 159px;
    font-size: 13px;
    line-height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #9ca6af;
}

.team-show-add-member-icon,
.team-show-see-all-members-icon {
    width: 36px;
    height: 36px;
    border-radius: 19px;
    margin-right: 17px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-show-add-member-button {
    cursor: pointer;
    color: #9ca6af;
    transition-duration: 200ms;
    transition-property: background-color;
    font-size: 13px;
}

.team-show-add-member-button > .team-show-add-member-icon {
    border: 2px dashed #9ca6af;
    transition-duration: 200ms;
    transition-property: border-color;
}

.team-show-add-member-button:hover {
    color: #646f79;
}

.team-show-add-member-button:hover > .team-show-add-member-icon {
    border-color: #646f79;
}


.team-show-see-members-button {
    cursor: pointer;
    color: #646f79;
    font-size: 13px;
}

.team-show-see-members-button > .team-show-see-all-members-icon {
    background-color: #edf1f2;
    transition-duration: 200ms;
    transition-property: background-color;
}

.team-show-see-members-button:hover > .team-show-see-all-members-icon {
    background-color: #e1e6e8;
}




/* RIGHT SECTION (PROJECTS) */

.team-show-section-header.project-header {
    margin-left: 15px;
    width: 555px;
}

.team-show-projects-list {
    margin-top: 14px;
    display: flex;
    flex-wrap: wrap;
}


.project-index-item-container.small-tile {
    width: 130px;
    height: 191px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 20px;
}

.project-index-item-tile.small-tile {
    width: 100px;
    height: 100px;
    margin-top: 15px;
}

.project-index-item-tile.small-tile > i {
    font-size: 22px;
}

.project-index-item-container.small-tile > p {
    width: 110px;
}