.workspace-settings-container {
    width: 702px;
    min-height: 224px;
    border-radius: 3px;
    background: white;
    box-shadow: -1px 1px 2px #26151B26;
    position: relative;
}

.workspace-settings-close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    border: none;
    background: transparent;
    height: 12px;
    width: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.workspace-settings-close-btn > i {
    font-size: 16px;
    color: #b7bfc6;
} 

.workspace-settings-header {
    height: 82px;
    border-bottom: 1px solid #e0e6e8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 32px;
}

.workspace-settings-header > h1 {
    font-size: 24px;
    color: #151b26;
    font-weight: 500;
    margin-top: 12px;
}

.workspace-settings-nav {
    display: flex;
    font-size: 13px;
    color: #848f99;
    font-weight: 500;
    height: 29px;
}

.workspace-settings-nav > div {
    margin-right: 32px;
    cursor: pointer;
    border-bottom: 2px solid white;
}

.workspace-settings-nav > .unselected-tab:hover {
    color: #151b26;
    border-bottom: 2px solid #b7bfc6;
}

.workspace-settings-nav > .selected-tab {
    color: #008ce3;
    border-bottom: 2px solid #14aaf5;
}



/* GENERAL SETTINGS */
.general-workspace-settings-container > form {
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

.general-workspace-settings-container > form > div {
    margin-right: 30px;
    display: flex;
    align-items: center;
}

.general-workspace-settings-container > form > div > input {
    width: 530px;
    height: 40px;
    border-radius: 5px;
    font-size: 13px;
    color: #151b26;
    outline: none; 
    border: 1px solid #e0e6e8;
    box-sizing: border-box;
    padding-left: 10px;
}

.general-workspace-settings-container > form > div > input:focus{
    border: 1px solid #b7bfc6;
}

.general-workspace-settings-container > form > input[type="submit"] {
    width: 138px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #14aaf5;
    color: white;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    transition-duration: 250ms;
    transition-property: background-color, border;
    margin-right: 30px;
}

.general-workspace-settings-container > form > input[type="submit"]:hover {
    background-color: #008ce3;
}

.general-workspace-settings-name > label {
    color: #848f99;
    font-size: 12px;
    font-weight: 500;
    text-align: end;
    display: inline-block;
    width: 98px;
    margin-right: 10px;
}


/* MEMBER SETTINGS */
.member-workspace-settings-container {
    min-height: 376px;
    max-height: 610px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.member-workspace-settings-container > section {
    box-sizing: border-box;
    padding: 0 30px;
}

.member-settings-summary {
    height: 50px;
    background-color: #fffede;
    color: rgb(242, 161, 0);
    font-size: 13px;
    display: flex;
    align-items: center;
}

.member-settings-invite-more {
    height: 148px;
}

.member-settings-members {
    display: flex;
    flex-direction: column;
    min-height: 178px;
}

.member-settings-index-item {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #848f99;
    font-size: 13px;
}

.member-settings-index-item:hover {
    background-color: rgba(237, 241, 242, 0.65);
}

.member-settings-index-item > :first-child {
    margin-left: 30px;
}

.member-settings-index-item > :last-child {
    margin-right: 30px;
    margin-left: 136px;
}

.member-settings-avatar.avatar {
    width: 30px;
    height: 30px;
    border-radius: 16px;
}

.member-settings-full-name {
    width: 132px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.member-settings-primary-email {
    width: 142px;
    font-size: 11px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.member-settings-membership-type {
    /* width: 200px; */
    width: 94px;
    color: transparent;
}

.member-settings-index-item:hover > .member-settings-membership-type {
    color: #848f99;
    text-decoration: underline;
    text-decoration-style: dotted;
    cursor: pointer;
}

.member-settings-index-item > .member-settings-membership-type:hover,
.member-settings-index-item:hover > .member-settings-membership-type:hover {
    text-decoration-style: solid;
}

.member-settings-remove-member {
    width: 50px;
    color: transparent;
}

.member-settings-index-item:hover > .member-settings-remove-member {
    color: #848f99;
    text-decoration: underline;
    text-decoration-style: dotted;
    cursor: pointer;
}

.member-settings-index-item > .member-settings-remove-member:hover,
.member-settings-index-item:hover > .member-settings-remove-member:hover {
    text-decoration-style: solid;
}

.member-settings-index-index-remove-member-banner {
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(237, 241, 242, 0.65);
    color: #151b26;
    font-size: 11px;
    box-sizing: border-box;
    padding: 0 30px;
}

.member-settings-index-index-remove-member-banner > span {
    margin-right: 15px;
}

.member-settings-index-index-remove-member-banner > span:first-of-type {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 475px;
    white-space: nowrap;
}

.remove-member-banner-remove-action {
    /* color: #ff5263; */
    color: #ed4758;
    text-decoration: underline;
    text-decoration-style: dotted;
    cursor: pointer;
}

.remove-member-banner-cancel-action {
    color: #848f99;
    text-decoration: underline;
    text-decoration-style: dotted;
    cursor: pointer;
}

.remove-member-banner-remove-action:hover,
.remove-member-banner-cancel-action:hover {
    text-decoration-style: solid;
}


/* INVITE MEMBER FORM */

.member-settings-divider {
    border-top: 3px solid #e0e6e8;
    margin-bottom: 14px;
}

.member-settings-invite-more > h1 {
    color: #646f79;
    font-size: 11px;
    font-weight: 500;
}

.invite-member-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 16px;
    height: 92px;
}

.invite-member-form-inputs {
    display: flex;
    justify-content: space-between;
    width: 642px;
}

.invite-member-form-inputs > div {
    display: flex;
    flex-direction: column;
}

.invite-member-form-inputs > div > label {
    color: #848f99;
    font-size: 12px;
    font-weight: 500;
}

.invite-member-form-inputs > div > input {
    width: 312px;
    height: 30px;
    border-radius: 5px;
    font-size: 13px;
    color: #151b26;
    margin-top: 6px;
    outline: none;
    border: 1px solid #e0e6e8;
    box-sizing: border-box;
    padding-left: 10px;
}

.invite-member-form-inputs > div > input:focus {
    /* border: 1px solid #b7bfc6; */
    border: 1px solid #848f99;
}


.invite-member-form > input[type="submit"] {
    width: 90px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #14aaf5;
    color: white;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    transition-duration: 250ms;
    transition-property: background-color, border;
}

.invite-member-form > input[type="submit"]:disabled {
    background-color: #edf1f2;
    border: 1px solid #e0e6e8;
    color: #b7bfca;
}