.task-show-container {
    width: 500px;
    height: 714px;
    display: flex;
    /* position: relative; */
    /* position: absolute; */
    /* position: fixed; */
    /* top: 15px; */
}

.task-show-form {
    /* margin-left: 50px; */
    margin-left: 5px;
    width: 500px;
    height: 710px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 3px;
    box-shadow: 0 0 4px #26151B26;
    position: relative;
    /* margin-bottom: 250px; */
}


/* ------ HEADER STYLING ------ */

.task-show-header {
    height: 52px;
    border-bottom: 1px solid #e0e6e8;
    display: flex;
    align-items: center;
    padding-left: 32px;
}

.task-show-close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    border: none;
    background: transparent;
    height: 12px;
    width: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 4;
}

.task-show-close-btn > img {
    height: 12px;
    width: 12px;
    margin: none;
} 

.mark-complete-btn {
    width: 130px;
    height: 30px;
    outline: none;
    border-radius: 3px;
    border-color: #b7bfc6;
    color: #646f79;
    font-size: 13px;
    transition-duration: 400ms;
    transition-property: background-color, border-color, color;
    cursor: pointer;
    margin-right: 10px;
}

.mark-complete-btn:hover {
    background-color: #f6f8f9;
    border-color: #646f79;
    color: #222b37;
}

#fas-fa-check-task-button {
    margin-right: 5px;
}




/* ------ FORM CONTENT STYLING ------ */

.task-show-form-content {
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
}


/* ------ SECTION 1 STYLING ------ */

.task-show-section1 {
    height: 110px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-bottom: 1px solid #e0e6e8;
    /* box-sizing: border-box; */
}

.task-show-name-input {
    width: 445px;
    height: 42px;
    box-sizing: border-box;
    padding: 10px;
    font-size: 24px;
    color: #151b26;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    transition-duration: 300ms;
    transition-property: border-color;
    /* margin-right: 15px; */
}

.task-show-name-input:hover {
    border-color: #d5dce0;
}

.task-show-name-input:focus {
    border-color: #9ca6af;
    outline: none;
}

.task-show-section1-bottom {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
}

.task-show-assign-button {
    width: 172px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: white;
    /* color: #222b37; */
    color: #151b26;
    font-size: 13px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 4px;
    transition-duration: 400ms;
    transition-property: background-color, border-color;
    margin-right: 10px;
}

.task-show-assign-button:hover {
    border: 1px solid #646f79;
    background-color: #f6f8f9;
    /* color: #222b37; */
}


.avatar-task-show-large {
    width: 30px;
    height: 30px;
    background-color: #eec300;
    border: 1px solid #be9c09;
    padding: none;
    border-radius: 20px;
    font-size: 11px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* cursor: pointer; */
    position: relative;
}


.task-show-assign-text1 {
    font-size: 12px;
    color: #848f99;
    font-weight: 500;
    line-height: 16px;
}

.task-show-assign-text2 {
    width: 117px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 18px;
}

.task-show-due-date-button {
    width: 113px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: white;
    color: #222b37;
    font-size: 13px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin-left: 12px; */
    margin-bottom: 4px;
    transition-duration: 400ms;
    transition-property: background-color, border-color, color;
    /* display: none; */
    /* position: absolute; */
    /* top: -12px; */
    /* z-index: 10; */
}

.task-show-due-date-button:hover {
    border: 1px solid #646f79;
    background-color: #f6f8f9;
    color: #222b37;
}


.task-show-calendar-icon {
    width: 30px;
    height: 30px;
    background-color: transparent;
    /* border: 1px dashed #646f79; */
    /* border: 1px dashed #848f99; */
    border: 1px dashed #b7bfc6;
    padding: none;
    border-radius: 20px;
    font-size: 15px;
    color: #848f99;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition-duration: 400ms;
    transition-property: background-color, border-color, color;
}

.task-show-due-date-button:hover .task-show-calendar-icon {
    border: 1px solid #646f79;
    background-color: #f6f8f9;
    /* color: #222b37; */
    color: #646f79;
}

/* .task-due-date-wrapper {
    position: relative;
} */



/* ------ SECTION 2 STYLING ------ */

.task-show-section2 {
    height: 128px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-bottom: 1px solid #e0e6e8;
}

.task-show-description-input {
    width: 406px;
    height: 60px;
    box-sizing: border-box;
    padding: 6px 10px;
    font-size: 13px;
    color: #151b26;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    transition-duration: 300ms;
    transition-property: border-color;
    resize: none;
    margin-top: 0px;
    margin-left: 10px;
}

.task-show-description-input:hover {
    border-color: #d5dce0;
}

.task-show-description-input:focus {
    border-color: #9ca6af;
    outline: none;
}

.fa-align-left {
    color: #b7bfc6;
    font-size: 15px;
    margin-top: 8px;
}

.fa-clipboard {
    color: #b7bfc6;
    font-size: 18px;
    margin-right: 18px;
}

.task-show-project-icon {
    background-color: #7a6ff0;
    height: 22px;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 5px 10px;
    display: inline-block;
    font-size: 13px;
    color: white;
}

.task-show-section-label {
    color: #848f99;
    font-size: 13px;
    margin-left: 8px;
}

.task-show-section2-bottom {
    display: flex;
    align-items: center;
}

.task-show-section2-top {
    display: flex;
    align-items: flex-start;
}



/* ------ SECTION 3 STYLING ------ */

.task-show-section3 {
    height: 300px;
    background-color: white;
    display: block;
    box-sizing: border-box;
    padding-top: 25px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 11px;
    color: #848f99;
    line-height: 18px;
}

/* margin-right: 40px; */
/* margin-top: 25px; */


/* ------ FOOTER STYLING ------ */

.task-show-form-footer {
    /* height: 130px; */
    height: 118px;
    background-color: #f6f8f9;
    border-top: 1px solid #e0e6e8;
}