.section-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-header {
    height: 36px;
    color: #151b26;
    border-bottom: 1px solid #151b26;
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px;
    font-weight: 500;
}

.section-container > ul {
    box-sizing: border-box;
    width: 810px;
    margin-left: 30px;
    margin-right: 30px;
}


.section-index-item-container {
    height: 36px;
    border-bottom: 1px solid #e0e6e8;
    display: flex;
    align-items: center;
    color: #151b26;
    font-size: 13px;
    text-decoration: none;
}

.section-index-item-container:last-of-type {
    border-bottom: none;
}