.new-project-page {
    /* position: relative;
    margin: 0 auto;
    width: 1180px;
    height: 720px; */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-link-to-home {
    position: absolute;
    top: 23px;
    left: 23px;
}

.x-link-to-home {
    position: absolute;
    top: 23px;
    right: 23px;
}

.x-link-to-home > img {
    width: 20px;
    height: 20px;
}

.new-project-form-container {
    width: 420px;
    height: 464px;  /* initial height (no description) */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
}

.new-project-form-container-expanded {
    width: 420px;
    height: 565px;  /* expanded height (with description) */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
}

.new-project-page > div > h1 {
    color: #151b26;
    font-size: 24px;
}

.new-project-form-container > form {
    width: 420px;
    height: 420px; /* initial height (no description) */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* add padding-top 30 to all inputs in the form? */
}

.new-project-form-container-expanded > form {
    width: 420px;
    height: 500px; /* expanded height (with description) */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: lightskyblue; */
    /* add padding-top 30 to all inputs in the form? */
}

.new-project-form-container, .new-project-form-container-expanded {
    color: #848f99;
    font-size: 12px;
}


.new-project-form-container input[type="text"], textarea,
.new-project-form-container-expanded input[type="text"], textarea {
    width: 420px;
    height: 42px;
    border-radius: 5px;
    font-size: 100%;
    margin-top: 10px;
    outline: none; 
    border: 1px solid #b7bfc6;
    box-sizing: border-box;
    padding-left: 10px;
}

#project-name-invalid-input {
    border: 1px solid #ff5263;
}

#description-link {
    color: #14aaf5;
    font-size: 13px;
    cursor: pointer;
    transition-duration: 250ms;
    transition-property: color, text-decoration;
}

#description-link:hover {
    color: #32c1ff;
    text-decoration: underline;
}

.new-project-description > textarea {
    width: 420px;
    height: 90px;
    resize: none;
    padding: 10px;
}

.new-project-layout > p, .new-project-privacy > p {
    margin-bottom: 8px;
}

.new-project-layout label, .new-project-privacy label {
    color: #151b26;
    font-size: 13px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.new-project-layout label > input, .new-project-privacy label > input {
    margin-right: 10px;
    margin-bottom: 4px;
}


.new-project-form-container > form > input[type="submit"],
.new-project-form-container-expanded > form > input[type="submit"] {
    width: 420px;
    height: 42px;
    border: none;
    border-radius: 5px;
    background-color: #14aaf5;
    color: white;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    transition-duration: 250ms;
    transition-property: background-color, border;
}

.new-project-form-container > form > input[type="submit"]:disabled,
.new-project-form-container-expanded > form > input[type="submit"]:disabled {
    background-color: #edf1f2;
    border: 1px solid #e0e6e8;
    color: #b7bfca;
}