.home-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    /* display: flex; */
    /* flex-direction: column; */
    /* background-image: linear-gradient(to top right, #ff5263e6 10%, #ff7381e6 65%, #fcbd01e6 125%); */
}


/* SIDEBAR STYLING */

.home-sidebar {
    width: 244px;
    position: fixed;
    height: 100%;
    background-color: #151b26;
    /* z-index: 2; */
}

.home-sidebar-logo {
    width: 88px;
    margin-top: 19px;
    margin-left: 14px;
}

/* NEED TO UPDATE THIS STYLING LATER --> remove fixed positioning? */
.home-sidebar-top {
    width: 244px;
    height: 86px;
    position: fixed;
    top: 57px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home-sidebar-top > li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 28px;
    padding-left: 14px;
    transition-duration: 200ms;
    transition-property: background-color;
}

.home-sidebar-top > li:hover {
    background-color: #ffffff14;
}

/* NOTE: need to accomplish the selected effect w/ JS (might need to factor out this nav component) */
.home-sidebar-top > li:active {
    background-color: #ffffff29; 
}

.home-sidebar-top > li > a {
    text-decoration: none;
    color: #d5dce0;
    font-size: 14px;
}

.home-sidebar-top > li > a > i {
    font-size: 16px;
    margin-right: 12px;
}

/* NEED TO UPDATE THIS STYLING LATER --> remove fixed positioning? */
.home-sidebar-bottom {
    width: 244px;
    height: 86px;
    position: fixed;
    top: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #d5dce0;
    /* margin-left: 14px; */
    font-size: 14px;
}

.team-sidebar-heading,
.team-sidebar-members,
.team-sidebar-project-item {
    box-sizing: border-box;
    padding-left: 14px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 28px;
    transition-duration: 200ms;
    transition-property: background-color;
    text-decoration: none;
    color: #e0e6e8;
}

.team-sidebar-heading > i {
    font-size: 12px;
    cursor: pointer;
    color: rgba(255, 255, 255, .5);
    transition-duration: 200ms;
    transition-property: color;
}

.team-sidebar-heading > i:hover {
    color: white;
}

.team-sidebar-heading:hover,
.team-sidebar-project-item:hover {
    background-color: #ffffff14;
}

.team-sidebar-initials-placeholder {
    width: 25px;
    height: 25px;
    background-color: #ffffff14;
    border-radius: 12px;
    cursor: pointer;
    transition-duration: 200ms;
    transition-property: background-color;
}

.team-sidebar-initials-placeholder:hover {
    background-color: white;
}

.team-sidebar-initials-invite-ppl {
    width: 112px;
    height: 23px;
    background-color: #ffffff14;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.team-sidebar-project-item {
    justify-content: flex-start;
    text-decoration: none;
    color: #d5dce0;
    font-size: 13px;
}

.team-sidebar-project-bullet {
    width: 8px;
    height: 8px;
    background-color: #7a6ff0;
    border-radius: 2px;
    margin-right: 13px;
}

.team-sidebar-project-item > div:last-of-type {
    width: 174px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; /* without this property, text wraps to another line */
}

.team-sidebar-show-more {
    margin-left: 14px;
    font-size: 11px;
    color: #646f79;
    cursor: pointer;
}


/* MAIN: TOPBAR AND MAIN CONTENT */

.home-main {
    position: fixed;
    left: 244px;
    right: 0;
    display: flex;
}


/* TOPBAR STYLING */

.home-topbar {
    position: fixed;
    top: 0;
    left: 244px;
    right: 0;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0 1px 3px 0 #151b2626;
    z-index: 2;
}

.home-topbar-right {
    z-index: 2;
    /* background-color: red; */
}

.home-topbar-right > ul {
    height: 70px;
    /* width: 532px; */  /* Comment this back in when I build it other topbar components, like Search */
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
    margin-left: 12px;
    margin-right: 20px;
}

.home-topbar-right > li {
    height: 30px;
}

.avatar {
    width: 23px;
    height: 23px;
    background-color: #eec300;
    border: 1px solid #be9c09;
    padding: none;
    border-radius: 12px;
    font-size: 11px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

/* .avatar-selected {
    background-color: red;
} */


.home-topbar-left {
    height: 70px;
    width: 648px;
    min-width: 380px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    /* z-index: 2; */
}

.home-topbar-left-icon {
    height: 40px;
    width: 40px;
    position: absolute;
    left: 20px;
    border-radius: 8px;
    background-color: #7a6ff0;
    display:flex;
    justify-content: center;
    align-items: center;
}

.home-topbar-left-icon > i {
    color: white;
    font-size: 14px;
}

.home-topbar-left-icon-invisible {
    display: none;
}

.home-topbar-left > .avatar-token {
    position: absolute;
    left: 20px;
}

.home-topbar-left-navs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    /* width: 498px; */
    width: 465px;
    position: absolute;
    left: 75px;
}

.home-topbar-left-navs.no-icon {
    left: 20px;
}

.home-topbar-left-navs.avatar-icon {
    left: 55px;
}

.home-topbar-left-navs > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
        
}

.topbar-project-info {
    width: 465px;
    color: #151b26;
    font-size: 20px;
    font-weight: 500;
    /* max-width: 100% */
}

.topbar-project-views {
    color: #848f99;
    font-size: 13px;
    font-weight: 500;
    flex-basis: auto;
    margin-top: 10px;
    /* max-width: 100%; */
}

.topbar-project-views > li {
    margin-right: 20px;
}



/* MAIN CONTENT STYLING */

.home-main-content {
    /* display: flex;
    justify-content: space-between; */
    position: fixed;
    top: 70px;
    bottom: 0;
    left: 244px;
    right: 0;
    /* width: 100%; */
    /* background-color: white; */
    background-color: #f6f8f9;
}






/* testing */

.topbar-new-project-button {
    height: 30px;
    line-height: 30px;
    width: 62px;
    background: linear-gradient(to top right, #ff5263 0%, #ff7381 35%, #fcbd01 100%);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 300ms;
    transition-property: background;
}

.topbar-new-project-button:hover {
    background: linear-gradient(to top right, #ff1f35, #ff4053 35%, #c99701);
}

.topbar-new-project-button > a {
    color: white;
    font-size: 13px;
    text-decoration: none;
}
.topbar-new-project-button > a > i {
    color: white;
    font-size: 11px;
    margin-right: 2px;
}


.topbar-new-project-button:hover {
    background-color: white;
    color: gray;
}