.login-page-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to top right, #ff5263e6 10%, #ff7381e6 65%, #fcbd01e6 125%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.session-form-wrapper {
    width: 585px;
    height: 657px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.login-page-cushion {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-page-cushion > img {
    width: 120px;
    height: 24px;
}

.session-form-container {
    width: 585px;
    height: 566px;
    border-radius: 5px;
    /* margin: 0 auto; */
    background: white;
    justify-content: space-around;
    align-items: center;
    box-shadow: -1px 1px 2px #26151B26;
}



.session-form-google {
    height: 40px;
    width: 154px;
    background-color: #14aaf5;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 80%;
    /* position: absolute;
    right: 10px; */
    cursor: pointer;
}

/* google and or div styling here */

.session-form-or {
    width: 405px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.session-form-or span {
    font-size: 24px;
    color: #b7bfc6;
}

.session-form-line {
    border-top: 1px solid #e0e6e8;
    width: 45%;
    margin-top: 4px;
}


.session-form-header {
    height: 115px;
    font-size: 32px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: green; TEMPORARY */
}

.session-form-content {
    /* background: blue; TEMPORARY */
    height: 451px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.session-form-email {
    width: 405px;
    height: 67px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.session-form-password {
    width: 405px;
    height: 67px;
    display: flex;
    flex-direction: column;
}

.session-form-label {
    height: 18px;
    size: 12px;  /* Asana's font size is actual 12px, but it seems too small*/
    color: #848f99;
    font-weight: 500;
}

.session-form-input {
    height: 42px;
    border-radius: 5px;
    font-size: 100%;
    /* box-sizing: content-box; */
    margin-top: 10px;
    outline: none; 
    border: 1px solid lightgray;
}


/* testing */
.tooltip-visible {
    box-sizing: border-box;
    padding: 10px;
    visibility: visible;
    position: absolute;
    top: 70px;
    background: white;
    border: 1px solid darkgray;
    box-shadow: 2px 2px 2px #26151B26;
    border-radius: 5px;
    height: 60px;
}

.tooltip-hidden {
    visibility: hidden;
}
/* testing */



.session-form-input:focus {
    /* border: 2px solid purple; */
    border: 2px solid #b7bfc6;
}

.session-form-button {
    height: 40px;
    width: 405px;
    position: relative;
}

.session-form-button > input {
    height: 40px;
    width: 70px;
    background-color: #14aaf5;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 100%;
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.session-form-button > input:disabled {
    background-color: #edf1f2;
    border: 1px solid #e0e6e8;
    color: #b7bfca;
}


/* Header (logo) & footer styling */

.login-page-footer {
    height: 76px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    size: 14px;
}

.login-page-footer-top {
    width: 284px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    size: 14px;
}

.login-page-signup-wrapper {
    height: 30px;
    line-height: 30px;
    width: 70px;
    /* background-color: none; */
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    font-size: 100%;
    cursor: pointer;
    text-decoration: none;
}

.login-page-signup-wrapper:hover {
    background-color: white;
    color: gray;
}

.login-page-footer-bottom > nav {
    width: 284px;
    display: flex;
    justify-content: space-between;
}

.login-page-footer-bottom > nav > a {
    color: white;
    size: 14px;
    text-decoration: none;
}

.login-page-footer-bottom > nav > a:hover {
    text-decoration: underline;
}

.login-page-cushion {
    height: 70px;
}




