/* Basic modal styling */
.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /* BACKGROUND FOR SPLASH PAGE MODALS */
    /* background: rgba(0, 0, 0, 0.8); */

    /* BACKGROUND FOR OTHER MODALS (ONCE LOGGED IN) */
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.modal-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Styling for login and signup containers
.modal-wrapper {
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    font-size: 24px;
    height: 20px;
    width: 20px;
}

.close-btn > img {
    height: 16px;
    width: 16px;
}  */