.splash-container {
    position: absolute;
    /* position: relative; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* height: 5325px; */
    height: 1600px;

    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
    /* background-image: linear-gradient(to top right, #ff5263e6 10%, #ff7381e6 65%, #fcbd01e6 125%); TEMPORARY - change to white later */
}

.splash-main-nav {
    /* background-image: linear-gradient(to top right, #ff5263e6 10%, #ff7381e6 65%, #fcbd01e6 125%); TEMPORARY - change to white later */
    
    background-color: white;
    /* position: absolute; */
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.splash-background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* continue styling left nav */

.splash-left-nav > img {
    height: 26px;
    margin-left: 18px;
}



.splash-right-nav > ul {
    width: 745px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.splash-right-nav > ul > a {
    text-decoration: none;
    color: #646f79;
    font-size: 14px;
    font-weight: 500;
}

.splash-right-nav > ul > a:hover {
    color: #796eff;
}

/*  */

.splash-login-button {
    text-decoration: none;
    color: #646f79;
    font-size: 14px;
    font-weight: 500;
    background-color: none;
    border: none;
}

.splash-login-button:hover {
    color: #796eff;
}

/*  */

.splash-free-trial-button {
    height: 36px;
    width: 115px;
    background-color: #786eff;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 14px;
    /* font-size: 90%; */
    font-weight: 500;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.splash-free-trial-button:hover {
    background-color: #635ac7;
}



/* styling for splash background sections */

#temp {
    font-style: italic;
    font-size: 12px;
    color: red;
}

.temporary-cushion {
    height: 50px;
}

.splash-section {
    height: 400px;
    width: 100%;
    background-color: #fcbd01e6; /* TEMPORARY: change to white or transparent later */
    display: flex;
}

.splash-value-prop-banner {
    background-color: #edf1f2;
}

.splashGreetingForm {
    height: 310px;
    width: 60%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white; /* Get rid of this after changing .splash-section color to white */
}

.splashGreetingForm > h1 {
    text-align: center;
    /* font-size: 45px; */
    font-size: 3.0rem;
    color: #151b26;
    font-weight: 300;
    letter-spacing: 3px;
}

.splashGreetingForm > h2 {
    text-align: center;
    font-size: 22px;
    color: #646F79;
    font-weight: 260;
    letter-spacing: 2px;
    line-height: 150%
}

.splashGreetingForm > form {
    height: 50px;
}

.splash-footer {
    /* height: 112px; */
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* background-color: #222b37; */
    /* background-color: #151b26; */
}

.splash-footer > div {
    height: 90px;
    background-color: #151b26;
}

.splash-footer > footer {
    height: 110px;
    background-color: #222b37;
    display: flex;
    align-items: center;
}

.splash-footer > footer > ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    color: white;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 1px;
}