.splash-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* height: 1550px; */
    height: 1440px;
}

.splash-main-nav {
    background-color: white;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topbar-scrolled {
    border-bottom: #e0e6e8;
    box-shadow: 0 1px 2px #e0e6e8;
}

.splash-background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* continue styling left nav */

.splash-left-nav > img {
    height: 26px;
    margin-left: 18px;
}

.splash-logo-link {
    height: 26px;
    margin-left: 18px;
}



.splash-right-nav > ul {
    /* width: 745px; */
    width: 240px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.splash-right-nav > ul > a {
    text-decoration: none;
    color: #646f79;
    font-size: 14px;
    font-weight: 500;
}

.splash-right-nav > ul > a:hover {
    color: #796eff;
    transition: color 400ms ease-in;
}

/*  */

.splash-login-button {
    text-decoration: none;
    color: #646f79;
    font-size: 14px;
    font-weight: 500;
    border: none;
    transition: color 400ms;
    cursor: pointer;
}

.splash-login-button:hover {
    color: #796eff;
}

.splash-login-button:focus {
    outline: none;
}

/*  */

.splash-free-trial-button {
    height: 36px;
    width: 115px;
    background-color: #786eff;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 14px;
    /* font-size: 90%; */
    font-weight: 500;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.splash-free-trial-button:hover {
    background-color: #635ac7;
}

/* .splash-free-trial-button:focus {
    outline: none;
} */



/* styling for splash background sections */

#temp {
    font-style: italic;
    font-size: 12px;
    color: red;
}

.cushion {
    height: 100px;
}

.splash-section {
    height: 400px;
    width: 100%;
    background-color: transparent;
    display: flex;
}

.splash-greeting-form {
    height: 310px;
    width: 60%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white; /* Get rid of this after changing .splash-section color to white */
    margin-top: 30px;
    margin-bottom: 85px;
}

.splash-greeting-form > h1 {
    text-align: center;
    /* font-size: 45px; */
    font-size: 3.0rem;
    color: #151b26;
    font-weight: 300;
    letter-spacing: 3px;
}

.splash-greeting-form > h2 {
    text-align: center;
    font-size: 22px;
    color: #646F79;
    font-weight: 260;
    letter-spacing: 2px;
    line-height: 150%
}

.splash-greeting-form > form {
    height: 50px;
}



.splash-video-banner {
    background-color: #f6f7fa;
    position: relative;
    height: 800px;
    width: 100%;
    /* margin-top: 15px; */
}

.splash-video-banner > video {
    /* height: 708px; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}



.splash-footer {
    /* height: 220px; */
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.splash-footer-top {
    height: 110px;
    background-color: #151b26;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.splash-footer > div > a > .fab,
.splash-footer > div > a > .fas {
    font-size: 30px;
    color: white;
}

.fa-github,
.fa-linkedin,
.fa-angellist,
.fa-globe {
    margin-right: 50px;
}

/* .fa-facebook {
    margin-right: 40px;
} */


.splash-footer > footer {
    height: 110px;
    background-color: #222b37;
    display: flex;
    align-items: center;
}

.splash-footer > footer > ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    color: white;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 1px;
}