.welcome-container {
    background-color: white;
    box-sizing: border-box;
    padding: 20px 0;
    /* overflow-y: auto; */
}

.filtered-task-index-container {
    width: 815px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 3px;
    position: relative;
    margin: 0 auto;
    /* height: 120px; */
    height: 160px;
    box-sizing: border-box;
    padding: 0 13px;
    /* overflow-y: auto; */
}

.filtered-task-index-container > h2 {
    margin-top: 20px;
    margin-bottom: 8px;
    color: #151b26;
    font-size: 16px;
    font-weight: 500;
}

.welcome-project-header {
    width: 815px;
    /* height: 70px; */
    box-sizing: border-box;
    padding: 0 13px;
    margin: 0 auto;
    margin-top: 55px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    background-color: white;
    /* margin-bottom: -15px; */
    /* position: relative; */
}

/* .welcome-project-header > p {
    position: absolute;
    z-index: 10;
    background-color: white;
} */

.filtered-task-index-container > ul {
    border: 2px solid #e8ecee;
    border-radius: 8px;
    box-shadow: 0 5px 20px 0 rgba(21,27,38,.08);
    overflow-y: auto;
    height: 110px;
}

.filtered-task-index-container > ul > .section-index-item-container {
    padding-left: 10px;
}

.filtered-task-index-container > ul > .no-tasks-msg {
    font-size: 13px;
    color: #848f99;
    margin: 0 auto;
}

.filtered-task-index-container > .no-tasks-msg {
    display: flex;
    justify-content: center;
    align-items: center;
}